AreaCalculator/out
AreaCalculator/.idea
AreaCalculator.iml

DecimalComparator/out
DecimalComparator/.idea
DecimalComparator.iml

EqualityPrinter/.idea
EqualityPrinter.iml

EqualSumChecker/out
EqualSumChecker/.idea
EqualSumChecker.iml

LeapYearCalculator/out
LeapYearCalculator/.idea
LeapYearCalculator.iml

